{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-market text-white text-center d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex align-items-center flex-column pt-2" style="gap: 15px; padding-top: 20px">
    <h1 style="text-shadow: 0px 7px 13px rgba(7,4,33, 0.8); font-size: xxx-large; font-family: 'Wendy One', sans-serif">The Marketplace</h1>
      <a href="{% url 'create_listing' %}"
         class="btn btn-lg btn-primary"
         style="font-family: 'Wendy One', sans-serif; background: rgba(7,4,33,0.75); color: #FFCC03; text-decoration: none">
        Create Listing
      </a>
    </div>
  </header>

<div class="container mt-4">
    <h2 style="font-family: 'Wendy One', sans-serif">Marketplace Listings</h2>
    <hr />
    <p style="padding-bottom: 2%; font-size: large; font-family: 'Sniglet', sans-serif">You step into a bustling market. Here, you can buy and sell Pokémon using money from your Wallet.</p>
<form method="get">

    <!-- Sorting by price -->
<div style="display: inline-flex; font-family: 'Sniglet', sans-serif; align-items: center; gap: 1rem;">
    <label for="sort_by" style="white-space: nowrap; padding-bottom: 0;">Sort by Price:</label>
    <select style="background-color:#F8F8F8" name="sort_by" id="sort_by" class="rounded">
        <option value="price_asc" {% if sort_option == 'price_asc' %}selected{% endif %}>Low to High</option>
        <option value="price_desc" {% if sort_option == 'price_desc' %}selected{% endif %}>High to Low</option>
    </select>
    <label for="my-listings" style="display: flex; align-items: center; gap: 0.25rem; margin-bottom: 0;">
        <input type="checkbox" name="my_listings" id="my-listings" {% if request.GET.my_listings %}checked{% endif %}>
        <span style="white-space: nowrap;">Show my listings only</span>
    </label>
    <button class="btn" style="white-space: nowrap; font-family: 'Sniglet', sans-serif; background-color: #FFCC03;" type="submit">Filter</button>
</div>
</form>
<hr/>
<div class="row row-cols-1 row-cols-md-2 g-4" style="padding-top:2%">
    {% for listing in page_obj %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text" style="font-family: 'Wendy One', sans-serif; font-size:large">{{ listing.user_pokemon.pokemon.name|capfirst }} - ${{ listing.price }}</p>
            <hr/>
            <img src="{{ listing.user_pokemon.pokemon.image_url }}" alt="{{ listing.user_pokemon.pokemon.name }}" class="card-img-top mb-3" style="object-fit: contain; height: 150px;">
            <div style="position:absolute; bottom:5px; padding-bottom:2%">
               <h3 style="display: inline; font-family: 'Sniglet', sans-serif; font-size:large" class="card-title">Listed by </h3><p style="display: inline; font-family: 'Wendy One', sans-serif; font-size:large" class="card-title">{{ listing.seller.user.username }}</p>
            </div>
          </div>
          <div class="card-footer text-end" style="padding-top:2%; padding-bottom:2%; background-color:#F8F8F8">
          <a href="{% url 'listing_detail' listing.id %}"
              class="btn btn-success text-white"
              style="font-family: 'Sniglet', sans-serif; background-color: #386ABB;">
              View Details
          </a>
            {% if listing.seller.user == user %}
              <a href="{% url 'edit_listing' listing.id %}" class="btn ms-2" style="font-family: 'Sniglet', sans-serif; background-color:#FFCC03">
                Edit
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
        <p style="font-family: 'Sniglet', sans-serif; font-size: xx-large" class="text-center">No listings available.</p>
    {% endfor %}
</div>

    <!-- Pagination controls -->
    <div class="pagination" style="padding-top:5%;>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.my_listings %}&my_listings=true{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.my_listings %}&my_listings=true{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">previous</a>
            {% endif %}

            <span class="current" style="padding-bottom: 2%; font-size: large; font-family: 'Sniglet', sans-serif">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.my_listings %}&my_listings=true{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.my_listings %}&my_listings=true{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock content %}