{% extends 'base.html' %}

{% block content %}
  <header class="masthead bg-primary text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column pt-2">
      <h2>Listing Details</h2>
    </div>
  </header>

  <div class="container mt-4">
    <div class="listing-detail">
      <h3>{{ listing.user_pokemon.pokemon.name }}</h3>
      <img src="{{ listing.user_pokemon.pokemon.image_url }}" alt="{{ listing.user_pokemon.pokemon.name }}">
      <p><strong>Seller:</strong> {{ listing.seller.user.username }}</p>
      <p><strong>Price:</strong> ${{ listing.price }}</p>
      <form method="post" action="{% url 'marketplace.purchase_listing' listing.id %}">
      {% csrf_token %}
      <button type="submit">Buy for {{ listing.price }} coins</button>
    </form>
      <p><strong>Base Stats:</strong></p>
      <ul>
        {% for stat in stats %}
          <li>
            {{ stat.stat.name|capfirst }}: {{ stat.base_stat }}
          </li>
        {% endfor %}
      </ul>
      <p><strong>Status:</strong> {% if listing.is_sold %} Sold {% else %} Available {% endif %}</p>
    </div>
  </div>

{% endblock content %}
