{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="bg-password">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" style="padding-top: 4%">
        <div class="card shadow p-4">
          <div class="card-body">
            <h2 class="text-center" style="font-size: xxx-large; font-family: 'Wendy One', sans-serif">Password Reset</h2>
            <hr />
            <p class="text-center" style="font-size:xx-large; font-family: 'Sniglet', sans-serif;">"In its confusion, the user forgot its password!"</p>
            <p style="font-size:larger; font-family: 'Sniglet', sans-serif;">Don't worry; we're here to help! Enter your email address to receive a password reset link.</p>
            <form method="post" style="font-size:larger; font-family: 'Sniglet', sans-serif;">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center" style="padding-top:3%">
                <button type="submit" class="btn btn-primary" style="font-size:x-large; font-family: 'Sniglet', sans-serif; background-color: #386ABB;">Send Reset Link</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

