{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="bg-reset" style="min-height: 20vh">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" style="padding-top: 12%">
        <div class="card shadow p-4">
          <div class="card-body">
            <h2 class="text-center" style="font-size: xxx-large; font-family: 'Wendy One', sans-serif">Password Reset Successful</h2>
            <hr />
            <p style="font-size:larger; font-family: 'Sniglet', sans-serif;">Congratulations! Your password has been reset. Try logging in with your new credentials!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

