{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <header class="masthead bg-user text-white text-center d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex align-items-center flex-column pt-2">
    <h1 style="text-shadow: 8px 7px 12px rgba(7,4,33, 1); font-size: xxx-large; font-family: 'Wendy One', sans-serif">{{ user.username }}'s Pokemon</h1>
    </div>
  </header>
    <div class="container mt-4 text-center d-flex flex-column justify-content-center align-items-center"><h3 style="font-size: xx-large; font-family: 'Wendy One', sans-serif">Owned Pokémon</h3></div>
    <div style="padding-left:15%; padding-right:15%; padding-bottom:3%; padding-top:3%" class="row justify-content-center g-2">
        {% for user_poke in owned_pokemon %}
            <div class="col-md-4 col-lg-3 mb-2">
                <div class="p-2 card align-items-center pt-4" style="width: 10rem;">
                    <div style="width:100%" class="ratio ratio-1x1 img-card-400">
                        <img src="{{ user_poke.pokemon.image_url }}" class="fluid card-img-top square rounded" alt="{{ user_poke.pokemon.name }}">
                    </div>
                    <div class="card-body text-center">
                        <p style="text-transform: capitalize;">{{ user_poke.pokemon.name }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>You do not own any Pokémon yet.</p>
        {% endfor %}
    </div>


</body>
{% endblock content %}
