{% load static %}
.bg-user{
  background: url("/static/img/poketrainer.jpg") no-repeat fixed;
  background-size: 100% auto;
  background-position-y: center;
  height: 60vh;
}
.bg-trading{
  background: url("/static/img/tradepokemon.jpg") no-repeat fixed;
  background-size: 100% auto;
  height: 60vh;
  background-position-y: bottom;
}
.bg-password{
  background: url("/static/img/password.jpg") no-repeat fixed;
  background-size: 100% auto;
  height: 90vh;
  background-position-y: bottom;
}
.bg-reset{
  background: url("/static/img/passwordreset.jpg") no-repeat fixed;
  background-size: 100% auto;
  height: 90vh;
  background-position-y: bottom;
}
.bg-offer{
  background: url("/static/img/offer.jpg") no-repeat fixed;
  background-size: 100% auto;
  height: 90vh;
  background-position-y: center;
}
.bg-listing{
  background: url("/static/img/listing.jpg") no-repeat fixed;
  background-size: 100% auto;
  height: 90vh;
  background-position-y: center;
}
.bg-market{
  background: url("/static/img/pokemarket.jpeg") no-repeat fixed;
  background-size: 120% auto;
  background-position-y: bottom;
  height: 60vh;
}
.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.navbar a.nav-link:hover{
  color: #FFCC03 !important;
}
.bg-dark {
  background-color: #2E2E2E !important;
}
.ms-footer {
  background-color: #202020;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #FFCC03;
  text-decoration: none;
}
.card {
  border-radius: 0 !important;
  z-index:2;
}
.bg-login {
  background-image: url("/static/img/login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  width:100%;
  height:100vh;
  justify-content: center;
}
.bg-signup {
  background-image: url("/static/img/signup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  width:100%;
  height:100vh;
  justify-content: center;
}
.bg-wallet {
  background-image: url("/static/img/wallet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  width:100%;
  height:100vh;
  justify-content: center;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #FFCC03;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
.carousel-caption{
  z-index:2;
}
.carousel-overlay{
  top:0;
  left:0;
  z-index:1;
  width:100%;
  position:absolute;
  height:100%;
  background-color:rgba(7,4,33, 0.65);
}
.img-card-200 {
  width: fit-content;
  max-height: 200px;
}
.img-card-400 {
  width: fit-content;
  max-height: 400px;
}
.blue-navbar, .blue-navbar * {
  font-family: 'Wendy One', sans-serif;
  background-color: #11195c;
}
.blue-footer {
  background-color: #050926;
}
.blue-footer h5{
  font-family: 'Wendy One', sans-serif;
  font-size: medium;
}